 
 <!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/f35715c3b6.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/f35715c3b6.js" crossorigin="anonymous"></script>
   
  </head>
  <body>
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"><img src="images/logo.png"> Green Graphics Design </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-danger"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link " href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/contact">Contact us</a>
          </li>
         
        </ul>
       
      </div>
    </nav>
    
    