<%- include('partials/header')  -%>


 <img src="images/bashir1.jpg" id="aboutImg" alt="">
 <div class="table-responsive">


<div class="centerForaboutpage">




 
<div  id="addressDiv">
 
 <h2 id="nameB" style="color:green">md: Bashir ahammed</h2>
  
<h3 style="color:green">Address: Muscat, Oman </h3>
<p style="color:green">Mobile: 968-95705036</p>
<p style="color:green">Email: bahammed16@gmail.com</p>

</div>









<div id="contactId">




<form class="form-signin myform" action="/contact" method="post">
      
    <div class="form-group ">
        <i class="fas fa-envelope fa-lx" style="color: yellowgreen; padding: 10px;"></i>
   <h4 class="h3 mb-3 font-weight-normal leaveMessage" style="color:white">Leave your massage</h4>
        


       <input type="text"  class="form-control firstName" name="firstName" placeholder="First name" required autofocus>
      <input type="text"  class="form-control lastName" name="lastName" placeholder="Last Name" required>
      <input type="email"  class="form-control myE" name="email" placeholder="Email address" required >


    <input type="text" class="form-control textA" name="textArea" placeholder="Leave your messages">



      <button class="btn btn-sm btn-primary btn-block" type="submit" >Send </button>

      </div>

    </form>


</div>
</div>   
     </div>


<%- include('partials/footer') -%>