<%- include("partials/header"); -%>
<!--<form class="form-inline my-2 my-lg-0">
  <button class="btn btn-outline-success my-2 my-sm-0" >Sign up</button>  
  <button class="btn btn-outline-success my-2 my-sm-0" >Login</button> 
</form>-->
<div class="header-Section">
  <ul>
    <li class="list-item">
      <a href="/portfolio">Creative Design</a>
    </li>
    <li class="list-item">
      <a href="/photography">Photography</a>
    </li>
    <li class="list-item">
      <a href="">Motion Graphics</a>

    </li>
    <li class="list-item">
      <a href="/todolist">Todo List</a>

    </li>
    <li class="list-item">
      <a href="">Friends Profile</a>

    </li>
  </ul>

<div class="hr-line"></div>
</div>
<div class="jumbtn">
  <img id="jumImg" src="images/bashir3.png" />
  <div class="jumbotron">
    <h1 class="display-4">Green Graphics Design</h1>
  
    <p >Let's work together , our team are passionate just need your co-operations.</p>
    <hr class="my-4">
    <h5>find out more activity.</h5>
    <a class="btn btn-primary btn-lg" href="/portfolio" role="button">Click here</a>
  </div>
</div>
<div id="side-banner">
  <video  autoplay loop muted>
    <source src="images/bashir3.mp4" type="video/mp4"  >
  </video>
</div>
<section id="sec-1">
    <h2 id="sec-header">You want us to do</h2>
    <div id="fs-span" >
      <label class="form-check-label" for="exampleCheck1">
    <span class="border-design" href='/portfolio'>Logo</span>
    <span class="border-design">Business Card</span>
    <span class="border-design">Poster</span>
   
   <div id="nd-span" >
    <span class="border-design">Flyer</span>
    <span class="border-design">Animaton</span>
  </div>
  <div id="rd-span" >
    <span class="border-design">Web Design</span>
    </div>
  </label>
  </div>
  <form id="form">
    <i style="color: rgb(253, 0, 0); font-size: larger;" class="fas fa-angle-double-down fa-lg"></i>
    <h4 style="color: #fff; padding: 10px;">Write a message with brief </h4>
    <div class="form-group" >
      <input type="text" placeholder="Name" class="form-control" >
     </div>

    <div class="form-group">
      <input type="email" class="form-control"  placeholder="Email">
     </div>
     <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
   

   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<%- include("partials/footer"); -%>


